#tableJ{
	border: solid 1px green;
	width: 100%;
}

thead{
	background: #B9DEF7;
	color: white;
}

h3{
	font-family: Times New Roman;
	text-decoration: underline;
	letter-spacing: 1px;
	color: blue;
}

table{
	margin: 10px;
}

th{
	color: #0F3954;
}

button{
	margin-left: 135px;
	padding: 10px;
}

legend{
	font-family: verdana;
	letter-spacing: 10px;
	font-weight: bold;
	font-size: 25px;
	color: darkgreen;
}